---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Impressum | Dresden Blockchain Meetup">
  <main class="w-full max-w-[900px] mx-auto p-4">
    <article class="space-y-4">
      <h1 class="text-xl">Impressum</h1>

      <h2 class="mt-8 mb-4">Angaben gemäß § 5 TMG</h2>
      <p>
        Dresden Blockchain Meetup<br />
        c/o Karl Adler<br />
        Neustädter Straße 9<br />
        01097 Dresden<br />
        Deutschland
      </p>

      <h3>Kontakt</h3>
      <p>
        E-Mail: info@fudler.de<br />
      </p>

      <h3>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h3>
      <p>
        Dresden Blockchain Meetup<br />
        c/o Karl Adler<br />
        Neustädter Straße 9<br />
        01097 Dresden<br />
        Deutschland
      </p>

      <h3>Haftungsausschluss</h3>
      <p>
        Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die
        Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir
        jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7
        Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen
        Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als
        Diensteanbieter jedoch nicht verpflichtet, übermittelte oder
        gespeicherte fremde Informationen zu überwachen oder nach Umständen zu
        forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
      </p>

      <h3>Urheberrecht</h3>
      <p>
        Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen
        Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung,
        Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der
        Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des
        jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite
        sind nur für den privaten, nicht kommerziellen Gebrauch gestattet.
      </p>

      <h3>Datenschutz</h3>
      <p>
        Die Nutzung unserer Webseite ist in der Regel ohne Angabe
        personenbezogener Daten möglich. Soweit auf unseren Seiten
        personenbezogene Daten (beispielsweise Name, Anschrift oder
        E-Mail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf
        freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche
        Zustimmung nicht an Dritte weitergegeben.
      </p>
    </article>
  </main>
</Layout>
